<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
<body>
<div class="container" >
    <header class="row" >
        <div class="col"><h2>Lorem Ipsum</h2>  </div>
        <div class="col text-end">
            <button type="button" class="btn btn-danger mt-1" data-bs-target="#loginfrm" data-bs-toggle="modal">로그인</button>
            <button type="button" class="btn btn-primary mt-1">회원가입</button>
        </div>


    </header>


    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item"><a href="/intro" class="nav-link">프로젝트소개</a></li>
            <li class="nav-item"><a href="/join/agress" class="nav-link">회원가입</a></li>
            <li class="nav-item"><a href="/board/list?cpg=1" class="nav-link">게시판</a></li>
            <li class="nav-item"><a href="/pds/list?cpg=1"class="nav-link">자료실</a></li>
            <li class="nav-item"><a href="/gallery/list?cpg=1" class="nav-link">갤러리</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link">관리자</a></li>
        </ul>
    </nav>
    <div id="main">
        <div class="row">
            <div class="col-12">
                <h1 class = "display-1 text-center p-3">超機密 PROJECT 補完計劃</h1>
            </div>
            <div class="col-9 offset-3">
                <img src="/assets/img/img_1.png">
            </div>
        </div><!-- title, image -->
        <div class="row">
            <div class="col-8 offset-2 text-center p-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis nunc sem, quis sollicitudin augue consectetur sed. Vivamus ullamcorper tempus erat, sit amet sagittis dui pharetra ut. Mauris vitae suscipit odio. Cras nec mauris turpis. Maecenas et lorem ac arcu scelerisque bibendum. Maecenas consectetur, risus vitae pretium mollis, turpis risus vehicula enim, quis tincidunt felis augue sed purus. Donec congue, libero vel congue venenatis, metus eros mattis tortor, vel viverra ante libero euismod ligula. Nunc varius ligula vitae magna vestibulum ultrices. Etiam placerat efficitur scelerisque. Cras vel nisi at ipsum iaculis scelerisque et ut mi. Proin malesuada lectus id diam laoreet, non maximus sem tristique. </p>
                <div><button type="button" class="btn btn-success">지금 바로 시작하기</button></div>
            </div>
        </div><!-- hero -->

        <div class="row m-3">

            <div class="col-4 my-4">
                <h2>極秘</h2>
                <p>Etiam et laoreet quam, a feugiat quam. Mauris viverra dapibus sapien, sit amet pharetra sem egestas eget. Vestibulum ac quam ullamcorper, ultricies massa et, finibus nibh. Praesent pulvinar id dolor in mollis. Fusce auctor, nibh non aliquet eleifend, purus nulla vestibulum neque, vel feugiat augue tortor sed purus. Ut ultrices nisi lacus, sit amet tempus ipsum semper vel. Fusce ultricies ipsum vel finibus blandit. Vestibulum commodo urna a lacus rhoncus, vel feugiat arcu commodo. Proin eget dictum enim. Integer posuere mollis eleifend. Aenean non neque quam.</p>
                <div><button type="button" class="btn btn-light">
                    자세히보기 &blacktriangleright;
                </button> </div>
            </div>
            <div class="col-4 my-4">
                <h2>誤謬</h2>
                <p>Mauris ac sodales sem. Mauris et convallis ligula. Vivamus massa tellus, varius in leo in, dignissim auctor nisl. Maecenas venenatis, massa vel pellentesque viverra, orci eros consequat leo, ac commodo arcu dolor quis nunc. Vivamus et urna eget elit porta interdum sit amet eget augue. Integer vitae eros viverra, efficitur lorem non, posuere ipsum. Vivamus consequat facilisis purus.</p>
                <div><button type="button" class="btn btn-light">
                    자세히보기 &blacktriangleright;
                </button> </div>
            </div>
            <div class="col-4 my-4">
                <h2>警告</h2>
                <p>Aliquam sed ligula tempus, posuere felis a, dignissim arcu. Etiam posuere in est ac congue. Phasellus at lorem venenatis, ultricies ante ut, sollicitudin ante. Donec tempus mi non erat pulvinar feugiat non non metus. Maecenas mattis lectus eu aliquet tincidunt. Donec elementum risus quis quam mattis lacinia. Donec sagittis suscipit ultricies. Nulla suscipit ex at metus rutrum congue. Suspendisse potenti. Aenean risus ligula, placerat facilisis malesuada nec, pharetra ac nisl. Morbi auctor ex at est aliquet egestas. Donec sit amet aliquet ligula. Fusce elementum vel enim euismod faucibus. Curabitur nec congue neque. Suspendisse scelerisque sollicitudin fermentum. Quisque tempor non mi in aliquet.</p>
                <div><button type="button" class="btn btn-light">
                    자세히보기 &blacktriangleright;
                </button> </div>
            </div>
            <div class="col-4 my-4">
                <h2>危險</h2>
                <p>Phasellus eu arcu molestie, lacinia neque eget, hendrerit est. Maecenas efficitur iaculis blandit. Aenean facilisis vestibulum tortor a tincidunt. Morbi rhoncus eu enim et mattis. Donec eget erat at ipsum vestibulum aliquam. Etiam in auctor massa, a ultricies felis. In ac aliquet mi. Aliquam pharetra porttitor ante, a scelerisque urna dictum id. Integer pellentesque neque eros, at malesuada libero molestie at. Vivamus a vehicula magna. Maecenas massa enim, vestibulum a purus eu, condimentum rhoncus erat. Ut ullamcorper eleifend nulla non consectetur. Sed sed euismod metus, ut finibus turpis. Etiam elementum orci ac libero accumsan congue. Quisque tristique pretium eros in facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <div><button type="button" class="btn btn-light">
                    자세히보기 &blacktriangleright;
                </button> </div>
            </div>
            <div class="col-4 my-4">
                <h2>隔離</h2>
                <p>Proin scelerisque diam elementum nibh vestibulum tempor. Donec posuere ornare orci, vel tincidunt turpis blandit eu. Proin consequat pulvinar facilisis. Sed quis quam a est volutpat congue eu at leo. Aliquam iaculis id lacus imperdiet consequat. Etiam non diam auctor, facilisis leo ac, gravida orci. Suspendisse potenti. Praesent posuere, dui at cursus commodo, dolor erat varius risus, et pulvinar tellus lectus at libero. Donec in elit iaculis, lobortis massa eu, facilisis turpis. Pellentesque a orci vitae tortor fermentum tincidunt. Nulla porta aliquam dolor, vel viverra ligula.</p>
                <div><button type="button" class="btn btn-light">
                    자세히보기 &blacktriangleright;
                </button> </div>
            </div>
            <div class="col-4 my-4">
                <h2>制限</h2>
                <p>Curabitur et congue ipsum, a placerat felis. Etiam a massa erat. Nunc arcu nulla, pellentesque eget lectus vel, ultrices aliquam elit. Fusce id elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet dapibus enim. Proin euismod neque elit, ut scelerisque nulla semper ac.</p>
                <div><button type="button" class="btn btn-light">
                    자세히보기 &blacktriangleright;
                </button> </div>
            </div>

        </div><!-- article -->
    </div>




    <footer>
        <h6 class="col text-end bg-dark bg-opacity-10 p-3">
            Copyright &copy; Lorem Ipsum 2023. wjdwo1104. All rights Reserved.
        Created by Bootstrap5</h6>
    </footer>
</div>

    <!-- login modal -->
    <div class="modal" id="loginfrm" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>로그인</h2>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
                </div><!--mdh-->
                <div class="modal-body">
                    <form id="lgnfrm" name="lgnfrm">
                        <div class="row text-danger mb-3">
                            <label class = "col-4 form-label text-end" for="userid" >아이디</label>
                            <div class="col-5">
                                <input type="text" id="userid" name="userid" class="form-control border-danger">
                            </div>
                        </div><!--userid-->
                        <div class="row text-success">
                            <label class = "col-4 form-label text-end" for="passwd">비밀번호</label>
                            <div class="col-5">
                                <input type="text" id="passwd" name="passwd" class="form-control border-success">
                            </div>

                        </div><!--passwd-->
                        <div class="row text-warning mt-3">
                            <label class = "col-4"> &nbsp; </label>
                            <div class="col-5">
                               <div class="form-check">
                                   <input type="checkbox" class="form-check-input">
                                   <label class="form-check-label">로그인 상태 유지</label>
                               </div>
                            </div>

                        </div>
                    </form>
                </div><!--mdb-->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" id="loginbtn">로그인</button>
                    <button type="button" class="btn btn-warning ">아이디/비밀번호 찾기</button>

                </div><!--mdf-->
            </div><!--mdc-->
        </div><!--mdd-->

    </div>


<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/project.js"></script>
</body>
</html>